@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'DM Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; /* This is  important*/
  overflow: auto;
}

/* Navigation bar styling */

.navBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: darkcyan;

  height: 3rem;
  margin-bottom: 3rem;
}
.navBar button {
  border: none;
  background: transparent;
  /* position: fixed; */

  top: 20px;
  z-index: 10;
}

.navList {
  /* margin-top: 0.5rem; */
  overflow-y: scroll;
  list-style: none;
  position: fixed;

  background: rgb(5, 182, 182);
  left: 0;
  height: 30vh;
  width: 0;
  overflow: hidden;
  /* max-width: 290px; */
  z-index: 9;
  text-transform: uppercase;
  font-weight: bold;
}

.navList a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0.5rem;
}

.navList li {
  list-style-type: none;
}

.navList.showMenu {
  width: 100%;
}

/* login page */

.loginTitle {
  text-align: center;
}
.loginForm {
  display: block;
  text-align: center;
}
.login_group {
  text-align: initial;
}
.loginForm button {
  padding: 0.6rem 1.5rem;
  font-weight: bold;
  background: rgb(6, 97, 97);
  color: white;
  border-radius: 8px;
  margin-top: 2rem;
}
.login_group {
  padding-bottom: 1rem;
}

.login_group input {
  padding: 0.5rem 2.2rem;
  border-radius: 4px;
  border: 2px solid gray;
}
form {
  display: inline-block;
}

/* wallet */

.wallet {
  height: 100vh;
  text-align: center;
}
.wallet p {
  padding-top: 1rem;
  font-weight: bold;
}

/* ********************** media query********************* */

@media (min-width: 768px) {
  .navBar {
    height: 4rem;
    justify-content: start;
  }

  .navBar button {
    display: none;
  }
  .navList {
    display: initial;

    background: none;
    max-width: none;
    position: relative;
    height: 40vh;
    z-index: 0;
    /* margin-right: 0; */
  }

  .navBar ul {
    margin-left: 8rem;
  }
  .navList li:first-child {
    margin-top: 0;
  }
  .navList li {
    display: inline-flex;
    padding: 0 2rem;
  }

  /* login page media query */
  .loginForm button {
    padding: 0.6rem 2rem;
    font-weight: bold;
  }

  .login_group input {
    padding: 0.5rem 3rem;
  }
}
